body {
  /*background-color:black;*/
  background-repeat: repeat;
  background: url('assets/bgC.png');

}

.colorfield{
  position:absolute;
}

/*#train1{*/
/*  position: absolute;*/
/*  background: url('assets/line1over.png');*/
/*}*/

/*#train1:hover{*/
/*    background: url('assets/line1notover.png');*/
/*}*/

.trainlines{
   position:absolute;
  /*font-size:2em;*/
  /*color:white;*/
  /*text-align: center;*/
  /*background:url(assets/title.gif) no-repeat;*/
 /*background-attachment:fixed;*/
  /*background-position: right top;*/
  background-repeat: no-repeat;
}

.canvas{
  position:absolute;
}

.story{
  font-family:futura;
  color:white;
  background: black;
  padding: 30px;
  margin: 30px;
  font-size:3em;
}

.header{
  position:absolute;
    z-index: 999;
    width:515px;
    height: 155px;
  /*font-size:2em;*/
  /*color:white;*/
  /*text-align: center;*/
  /*background:url(assets/title.gif) no-repeat;*/
 background-attachment:fixed;
  background-position: top center;
  margin:30px;
  background-repeat: no-repeat;
  /*background: url('assets/title.gif');*/
}

.map{
  position:absolute;
  background-image: url('assets/mapbg.png');
  background-repeat: no-repeat;
  width:1367px;
  height:1651px;
  margin-left:200px;
  margin-top: 100px;
}